* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftside img {
    max-width: 500px;
    height: auto;
}

.rightside {
    width: 25rem;
    background-color: #DDD;
    padding: 50px;
}

.rightside label {
    display: block;
    margin-bottom: 1rem;
}

.rightside input {
    border-radius: 5px;
    border: 1px solid #999;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    outline: 0;
}

.error {
    font-size: 13px;
    background-color: #FF0000;
    color: #FFF;
    padding: 4px;
    font-weight: bold;
   border-radius: 5px;
}